.branch {
    width: 965px;
    height: 576px;
    position: absolute;
    top: 0px;
    right: -10px;
    z-index: 3;

    transform-origin: 100% 0%;
    animation: branchWind 10s ease-in-out infinite;
}


.lantern {
    position: absolute;
    width: 213px;
    height: 320px;
    z-index: 3;

    transform-origin: 50% 0%;

    animation:
        swing 7s cubic-bezier(.4, 0, .2, 1) infinite,
        flicker 2.5s ease-in-out infinite;

    transition: transform 300ms;
}

.lantern:hover {
    transform: scale(1.05);
    filter:
        drop-shadow(0 0 18px rgba(255, 118, 90, 0.7))
        drop-shadow(0 0 35px rgba(255, 135, 70, 0.4));
}

.l1 { animation-delay: -1s, -0.3s; }
.l2 { animation-delay: -2.3s, -1s; }
.l3 { animation-delay: -0.6s, -0.7s; }
.l4 { animation-delay: -1.7s, -1.2s; }

.s1 {
    top: 390px;
    right: 578px;
}

.l1 {
    top: 280px;
    right: 600px;
}

.s2 {
    top: 283px;
    right: 455px;
}

.l2 {
    width: 280px;
    height: 420px;
    top: 145px;
    right: 400px;
}

.l3 {
    width: 300px;
    height: 420px;
    top: 175px;
    right: 210px;
}

.l4 {
    width: 290px;
    height: 410px;
    top: 220px;
    right: 10px;
}


@keyframes branchWind {
    0%   { transform: rotate(0deg); }
    30%  { transform: rotate(0.6deg); }
    60%  { transform: rotate(-0.4deg); }
    100% { transform: rotate(0deg); }
}

@keyframes swing {
    0% {
        transform: rotate(0deg) translateY(0);
    }

    20% {
        transform: rotate(1.2deg) translateY(2px);
    }

    50% {
        transform: rotate(-1.6deg) translateY(-2px);
    }

    80% {
        transform: rotate(1deg) translateY(1px);
    }

    100% {
        transform: rotate(0deg) translateY(0);
    }
}

@keyframes flicker {
    0%, 100% {
        filter:
            drop-shadow(0 0 14px rgba(255,160,90,0.3))
            drop-shadow(0 0 28px rgba(255,120,70,0.2));
    }

    25% {
        filter:
            drop-shadow(0 0 20px rgba(255,140,90,0.8))
            drop-shadow(0 0 40px rgba(255,160,70,0.45));}

    50% {
        filter:
            drop-shadow(0 0 16px rgba(255,170,90,0.5))
            drop-shadow(0 0 32px rgba(255,140,70,0.3));
    }

    75% {
        filter:
            drop-shadow(0 0 20px rgba(255,140,90,0.8))
            drop-shadow(0 0 40px rgba(255,160,70,0.45));
    }

}
