@import "tailwindcss";
@font-face {
    font-family: "Akumaru";
    src: url("/src/assets/AKUMARU-PersonalUse.otf") format("opentype");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
