@import "tailwindcss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}

@font-face {
    font-family: "Akumaru";
    src: url("./assets/fonts/AKUMARU-PersonalUse.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
